# file: ~/.keepass/credentials
keepass_db="/home/jdoe/Dropbox/Apps/Keepass2Android/John_Doe.kdbx"
keepass_keyfile="/home/jdoe/John_Doe_key_2017.bin" # decode the base64 value from KeePass 2 XML key file
keepass_password="####SECRET####"
keepass_dir="/General"
keepass_entry="My Account"
