<!-- file: roles/local_users/templates/settings.xml.j2 -->

<!-- Maven settings.xml -->
<!-- Ansible only initializes this file, if it's not already present. -->
<!-- Feel free to maintain it manually after the initial deployment. -->

<settings>
  <interactiveMode/>
  <usePluginRegistry/>
  <pluginGroups/>

  <servers>
    <server>
      <id>nexus</id>
      <username>deployment</username>
      <password></password>
    </server>
  </servers>
</settings>
