#!/bin/bash
CWD="$(pwd)"
cd {{ java_oracle_localdir | mandatory }}
CHECKSUM_FILE=/tmp/java_oracle_checksums
FILENAME={{ java_oracle_archive | mandatory }}
trap "{ rm -f $CHECKSUM_FILE ; cd "$CWD"; }" EXIT
if [ ! -f {{ java_oracle_archive }} ]; then
    wget -nv --no-cookies --no-check-certificate --header "Cookie: oraclelicense=accept-secureback-cookie"\
    http://download.oracle.com/otn-pub/java/{{ java_oracle_dirpath | mandatory }}/$FILENAME -O $FILENAME
fi

# Tested on Fedora 20
cat > $CHECKSUM_FILE << EOF
{{ java_oracle_sha1sum | mandatory }}  {{ java_oracle_archive | mandatory }}
EOF
sha1sum -c $CHECKSUM_FILE
