[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Eclipse
Comment="Eclipse {{ eclipse_release }}"
Icon={{ eclipse_localdir }}/eclipse/icon.xpm
Exec={{ eclipse_localdir }}/eclipse/eclipse
Terminal=false
Categories=Development;IDE;Java;
StartupNotify=true
