{# file: roles/eclipse/templates/eclipse_download.j2 #}
#!/bin/bash
CWD="$(pwd)"
cd {{ eclipse_localdir }}
CHECKSUM_FILE=/tmp/eclipse_checksums
FILENAME={{ eclipse_archive }}
trap "{ rm -f $CHECKSUM_FILE ; cd "$CWD"; }" EXIT
if [ ! -f {{ eclipse_archive }} ]; then
    wget -nv http://download.eclipse.org/technology/epp/downloads/release/{{ eclipse_dirpath }}/$FILENAME -O $FILENAME
fi

cat > $CHECKSUM_FILE << EOF
{{ eclipse_sha1sum | mandatory }}  {{ eclipse_archive | mandatory }}
EOF

sha1sum -c $CHECKSUM_FILE
