---
# file: host_vars/localhost

#
# roles/developer_profile
#
profile_username: jdoe
profile_fullname: John Doe
profile_email: john.doe@example.com

#
# roles/java_oracle
#
java_oracle_dirpath: jdk/8u40-b26
java_oracle_archive: jdk-8u40-linux-x64.rpm
java_oracle_sha1sum: 21285c48ca0b80573dda999d44ee3fcd797cc3d4
java_oracle_localdir: /opt
java_oracle_home: /usr/java/jdk1.8.0_40

#
# roles/eclipse
#
eclipse_dirpath: luna/SR2
eclipse_archive: eclipse-jee-luna-SR2-linux-gtk-x86_64.tar.gz
eclipse_sha1sum: df680622332c69303d23b14afe33281aca774f8e
eclipse_owner: "{{ profile_username | mandatory }}"
eclipse_localdir: "/home/{{ eclipse_owner | mandatory }}"
eclipse_release: luna

eclipse_release_repo: "http://download.eclipse.org/releases/{{
                       eclipse_release|mandatory|lower }}"

eclipse_feature_groups:

- repository: "{{ eclipse_release_repo }}"
  units:
  # Git
  - org.eclipse.egit.feature.group
  - org.eclipse.jgit.feature.group
  - org.eclipse.jgit.java7.feature.group
  - org.eclipse.jgit.pgm.feature.group

- repository: "{{ eclipse_release_repo }}"
  units:
  # CDT (provides org.eclipse.cdt.managedbuilder.core.headlessbuild)
  - org.eclipse.cdt.feature.group

- repository: "http://download.eclipse.org/webtools/repository/{{ eclipse_release|mandatory|lower }}"
  units:
  # Dali Java Persistence Tools
  - org.eclipse.jpt.common.feature.feature.group
  - org.eclipse.jpt.common.eclipselink.feature.feature.group
  - org.eclipse.jpt.jpa.eclipselink.feature.feature.group
  - org.eclipse.jpt.jaxb.eclipselink.feature.feature.group
  # JST Java Standard Tools
  - org.eclipse.jst.enterprise_ui.feature.feature.group
  - org.eclipse.jst.web_ui.feature.feature.group
  # WST Web Standard Tools
  - org.eclipse.wst.web_ui.feature.feature.group
  - org.eclipse.wst.xml_ui.feature.feature.group
  - org.eclipse.wst.common.fproj.feature.group
  - org.eclipse.wst.server_adapters.feature.feature.group

- repository: "{{ eclipse_release_repo }}"
  units:
  # Maven
  - org.eclipse.m2e.feature.feature.group
  - org.eclipse.m2e.wtp.jaxrs.feature.feature.group
  - org.eclipse.m2e.wtp.jpa.feature.feature.group
  - org.eclipse.m2e.wtp.jsf.feature.feature.group
  - org.eclipse.m2e.wtp.feature.feature.group
  - org.sonatype.m2e.mavenarchiver.feature.feature.group

- repository: "http://repo1.maven.org/maven2/.m2e/connectors/m2eclipse-tycho/0.9.0/N/LATEST/"
  units:
  # m2e Tycho Configurator
  - org.sonatype.tycho.m2e.feature.feature.group

- repository: "http://repo1.maven.org/maven2/.m2e/connectors/m2eclipse-buildhelper/0.15.0/N/0.15.0.201405280027/"
  units:
  # m2e connector for build-helper-maven-plugin
  - org.sonatype.m2e.buildhelper.feature.feature.group

- repository: "{{ eclipse_release_repo }}"
  units:
  # Mylyn
  - org.eclipse.mylyn.git.feature.group
  - org.eclipse.mylyn.github.feature.feature.group

- repository: "http://download.jboss.org/jbosstools/updates/stable/{{ eclipse_release|lower }}/"
  units:
  # JBoss Tools

  # JBoss Tools Foundation
  - org.jboss.tools.foundation.feature.feature.group

  # JBoss Tools Foundation Security for Linux
  - org.jboss.tools.foundation.security.linux.feature.feature.group

  # JBoss Tools Common
  - org.jboss.tools.common.feature.feature.group

  # JBoss Tools Java Standard Tools
  - org.jboss.tools.jst.feature.feature.group

  # Context and Dependency Injection Tools
  - org.jboss.tools.cdi.feature.feature.group

  # Maven SCM Handler for EGit
  - org.sonatype.m2e.egit.feature.feature.group

  # JBoss Maven Integration
  - org.jboss.tools.maven.feature.feature.group

  # JBoss Maven Source Lookup
  - org.jboss.tools.maven.sourcelookup.feature.feature.group

  # JBoss Maven CDI Configurator
  - org.jboss.tools.maven.cdi.feature.feature.group

  # JBoss Maven Endorsed Libraries Configurator
  - org.jboss.tools.maven.jdt.feature.feature.group

  # JBoss Maven Hibernate Configurator
  - org.jboss.tools.maven.hibernate.feature.feature.group

  # Hibernate Tools
  - org.hibernate.eclipse.feature.feature.group

  # Project Examples
  - org.jboss.tools.project.examples.feature.feature.group

  # JBoss Maven Project Examples
  - org.jboss.tools.maven.project.examples.feature.feature.group

  # JBoss Tools Maven Packaging Configurator
  - org.jboss.tools.maven.jbosspackaging.feature.feature.group

  # JBoss Tools Maven Integration for Eclipse JDT APT
  # m2e-apt connector for Eclipse JDT Annotation Processor Toolkit
  - org.jboss.tools.maven.apt.feature.feature.group

  # JBoss Runtime Detection Core
  - org.jboss.tools.runtime.core.feature.feature.group

  # JBoss Tools Apache Tomcat Integration
  - org.jboss.tools.wtp.runtimes.tomcat.feature.feature.group

  # JBoss JAX-RS Tools
  - org.jboss.tools.ws.jaxrs.feature.feature.group

  # JBoss Tools Community Project Examples
  - org.jboss.tools.community.project.examples.feature.feature.group

  # JBoss Tools EGit Integration
  - org.jboss.tools.openshift.egit.integration.feature.feature.group

  # JBoss Tools Java Standard Tools AngularJS
  - org.jboss.tools.jst.angularjs.feature.feature.group

  # JBoss Tools Java Standard Tools Tern.java Adapter
  - org.jboss.tools.jst.jsdt.feature.feature.group

  # JMX Console
  - org.jboss.tools.jmx.feature.feature.group

  # JBossAS Tools Server Adapter
  - org.jboss.ide.eclipse.as.serverAdapter.wtp.feature.feature.group

  # JBossAS Tools
  - org.jboss.ide.eclipse.as.feature.feature.group

  # JBoss Tools Mobile Browser Simulator
  - org.jboss.tools.vpe.browsersim.feature.feature.group

  # JBoss Tools Visual Page Editor
  - org.jboss.tools.vpe.feature.feature.group

  # JBoss WebServices Tools
  - org.jboss.tools.ws.feature.feature.group

#
# roles/projects
#
pro_workspace: "/home/{{ eclipse_owner | mandatory }}/workspace"
pro_repos: git@github.com:sakaal
pro_modules:
    - ansible

eclipse_configuration:

# JBoss Tools
- module: org.jboss.tools.usage
  prefs:
  - key: allow_usage_report_preference
    val: "false"
  - key: ask_user_for_usage_report_preference
    val: "false"

eclipse_workspace_preferences:

# Editors
- plugin: org.eclipse.core.runtime
  settings: org.eclipse.ui.editors
  prefs:
  - key: printMargin
    val: true
  - key: spacesForTabs
    val: true
  - key: tabWidth
    val: 8

# Workbench
- plugin: org.eclipse.core.runtime
  settings: org.eclipse.ui.workbench
  prefs:
  - key: REUSE_OPEN_EDITORS
    val: 7
  - key: REUSE_OPEN_EDITORS_BOOLEAN
    val: true
  - key: RUN_IN_BACKGROUND
    val: true

# Maven
- plugin: org.eclipse.core.runtime
  settings: org.eclipse.m2e.core
  prefs:
  - key: eclipse.m2.problem.duplicateParentVersion
    val: ignore
