# file: host_vars/localhost

#
# roles/developer_profile
#
profile_username: jdoe
profile_fullname: John Doe
profile_email: john.doe@example.com

#
# roles/java_oracle
#
java_oracle_dirpath: jdk/8u11-b12
java_oracle_archive: jdk-8u11-linux-x64.rpm
java_oracle_sha1sum: 3ee1d89c53c34762cc2e9e10574d4dbfe2938ef6
java_oracle_localdir: /opt
java_oracle_home: /usr/java/jdk1.8.0_11

#
# roles/eclipse
#
eclipse_dirpath: luna/R
eclipse_archive: eclipse-jee-luna-R-linux-gtk-x86_64.tar.gz
eclipse_owner: jdoe
eclipse_localdir: /home/jdoe
eclipse_release: Luna

#
# roles/projects
#
pro_workspace: /home/jdoe/workspace
pro_repos: git@github.com:sakaal
pro_modules:
    - ansible
