# file: host_vars/localhost

#
# roles/developer_profile
#
profile_username: jdoe
profile_fullname: John Doe
profile_email: john.doe@example.com

#
# roles/java_oracle
#
java_oracle_dirpath: jdk/8u25-b17
java_oracle_archive: jdk-8u25-linux-x64.rpm
java_oracle_sha1sum: 840bace01707560a63d85c0534f2cbbb647b8c31
java_oracle_localdir: /opt
java_oracle_home: /usr/java/jdk1.8.0_25

#
# roles/eclipse
#
eclipse_dirpath: luna/SR1
eclipse_archive: eclipse-jee-luna-SR1-linux-gtk-x86_64.tar.gz
eclipse_owner: "{{ profile_username | mandatory }}"
eclipse_localdir: "/home/{{ eclipse_owner | mandatory }}"
eclipse_release: luna

#
# roles/projects
#
pro_workspace: "/home/{{ eclipse_owner | mandatory }}/workspace"
pro_repos: git@github.com:sakaal
pro_modules:
    - ansible
